[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
flask-cors = "==4.0.0"
python-dotenv = "==1.0.1"
pyyaml = "==6.0.2"
pdfplumber = "*"
python-docx = "*"
unidecode = "*"
python-bidi = "*"
pymupdf = "*"
"pdfminer.six" = "*"
openai = "*"
requests = "*"

[dev-packages]
pytest = "==8.3.3"

[requires]
python_version = "3.12"
